.cat-images {
  width: 90%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .cat-images {
    width: 100%;
    padding: 10px;
  }
}

.cat-images img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.cat-images img:hover {
  transform: scale(1.05);
}

.small-mat-form-field {
  width: 100px;
}

.form_button {
  margin-bottom: 15px;
  margin-left: 10px;
}
